# file: ~/.gitignore_global
.DS_Store
.idea
*/venv/*
.venv
venv/
/.tox/log/tox-0.log
/python_basico.egg-info/PKG-INFO
/python_basico.egg-info/SOURCES.txt
/python_basico.egg-info/dependency_links.txt
/python_basico.egg-info/top_level.txt
